@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.container-article {
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container-article {
    max-width: 90%;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
  .divider_left {
    border-left: 0px solid rgb(214, 214, 214) !important;
  }
}

@media (min-width: 1536px) {
  .container-lg {
    max-width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1400px) {
  .container-lg {
    max-width: 90%;
  }
  .container-article {
    max-width: 50%;
  }
}

.divider {
  border-bottom: 1px solid rgb(214, 214, 214);
  width: 100%;
}
.divider_left {
  border-left: 1px solid rgb(214, 214, 214);
  width: 100%;
}
